
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');



/* .title{
   font-family: 'Rampart One', cursive; 
  font-family: 'Londrina Shadow', cursive;
  color: #F5A5DA
} */

  /* font-family: 'EB Garamond', serif; */

a{
  text-decoration: none;
}
a :hover{
  color: #F5A5DA;
}

* {
  margin: 0;
  color: #2d6a4f;
  font-family: 'Coiny', cursive;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: #E6F9E6;
}
.navbar :hover{
  font-style: italic;
}
.navbar h1 {
  /* color: 2d6a4f; */
  font-size: 60px;
  letter-spacing: 8px;
  font-family: 'Rampart One', cursive; 
  color: #F5A5DA
}
/* .navbar .links {
  margin-left: auto;
} */
.navbar a {
  margin-left: 20px;
  text-decoration: none;

}

.navbar .navbar-links{
  margin-left: auto;
  text-decoration: none;
  padding: 6px;
font-family: 'Montserrat Alternates', sans-serif;
  color: black;
}



.cards {
  padding: 10px 16px;
  margin: 20px 0;

} 

.body{
  color: #40916c;

}

/* .cards h2 {
  font-size: 25px;
  color: #a98467;
  margin-bottom: 8px;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  background-color: #ededef;
} */

button {
  background: #F9E6F2;
  color: #434142;
  border: 1;
  border-color: #E0D3DB;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
} 


.home-class {
  text-align: center;
  display: block;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.home-class h2{
  padding: 10px;
  font-size: 50px;
color: #1b4332;
margin-bottom: 10px;
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
