
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

html, body {
  width: 100%;
  height:100%;
  font-family: 'EB Garamond', serif;

}

body {
    background-color: #fff

}

* {
  margin: 0;
  color: #2d6a4f;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: #d8f3dc;
}
.navbar h1 {
  color: 2d6a4f;
  font-size: 40px;
  letter-spacing: 8px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar h1:hover {
  color: #a98467;
}


.cards {
  padding: 10px 16px;
  margin: 20px 0;
} 

.body{
  color: #40916c;
}

.cards h2 {
  font-size: 25px;
  color: #a98467;
  margin-bottom: 8px;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  background-color: #ededef;
}

.form {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  margin: 2rem 0;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  background-color: #d9fff5;
}
.form h2 {
  font-size: 30px;
  color: #2d6a4f;
  margin-bottom: 30px;
}
.form input, .form select {
  width: 100%;
  padding: 10px 10px;
  margin: 20px 0;
  border: 1px solid #a3b18a;
  box-sizing: border-box;
  display: flex;
  border-radius: 15px;
}

.form textarea{
  width: 100%;
  padding: 50px 10px;
  margin: 20px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  border-radius: 15px;
  font-family: 'Barlow', sans-serif;

}

.form button {
  background: #d8f3dc;
  color: #718355;
  border: 1;
  border-color: #a3b18a;
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Barlow', sans-serif;

} 

.login-form {
  display: block;
  align-items: center;
  padding: 15% 30%;
  text-align: center;
  font-family: 'Barlow', sans-serif;

}

.login-form input, .form select {
  width: 100%;
  padding: 10px 10px;
  margin: 20px 0;
  border: 1px solid #a3b18a;
  box-sizing: border-box;
  display: flex;
  border-radius: 15px;
}

.login-form textarea{
  width: 100%;
  padding: 50px 10px;
  margin: 20px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  border-radius: 15px;
  font-family: 'Barlow', sans-serif;

}

.login-form button {
  background: #d8f3dc;
  color: #718355;
  border: 1;
  border-color: #a3b18a;
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Barlow', sans-serif;

} 


.home-class {
  text-align: center;
  display: block;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.home-class h2{
  padding: 10px;
  font-size: 50px;
color: #1b4332;
margin-bottom: 10px;
}

.home-class button {
    background: #d8f3dc;
    color: #718355;
    border: 1;
    border-color: #a3b18a;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    
   
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
